body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    color: #333;
}

.container {
    width: 1300px;
    margin: 0 auto; /* centers the entire container */
}

header {
    background-color: #003099;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

img {
    height: 300px;
    width: auto;
    margin-top: -50px;
    transform: translateY(25px);
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #FFCD00;
    transform: translateY(25px);
}

.wrapper {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.definition {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background: linear-gradient(#003099, dodgerblue);
    border-bottom: solid black 5px;
}

.definition img {
    height: 400px;
    width: auto;
    border: 3px solid white;
    border-radius: 10px;
    transform: translateY(25px);
}

.definition-text {
    max-width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(2, auto);   /* 2 rows */
    column-gap: 20px;
    row-gap: 75px; 
    padding: 80px;
    background: linear-gradient(dodgerblue, cyan);
    justify-items: center;
}

.nav h1 {
    grid-column: 1 / -1; /* Span full width of grid if inside */
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.nav a img {
    width: 100px;
    height: auto;
    border: 2px solid #00309A;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav a img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


footer {
    background: linear-gradient(cyan, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%; /* fill parent container (.container) */
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}